Source: pwn-school
Section: education
Priority: optional
Maintainer: Arusekk <arek_koz@o2.pl>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/Arusekk/pwn-school
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/pwn-school.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/pwn-school.git

Package: pwn-school
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gdb
Description: Learn how to pwn badly written programs
 Pwn School teaches how to pwn applications with errors such as off-by-one,
 helps to understand stack- and heap-overflows.
